{% extends "twitter_clone_app/template.html" %}

{% block content %}

    <div id="login" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <h1>Login</h1>
        <input type="text" name="username" v-model="input.username" placeholder="Username" />
        <input type="password" name="password" v-model="input.password" placeholder="Password" />
        <button type="button" v-on:click="">Login</button>

        <br/>
        <br/>
        <a href="">Forgot your password</a>
        <br/>
        <a href="">Sign up</a>
    </div>

    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#login',
            data: {
                input: {
                    username:'',
                    password:'',
                }
            }
        })
    </script>

{% endblock content %}