
\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/SOEN341UA4\.iml

\.idea/workspace\.xml

\.idea/inspectionProfiles
*.pem
twitter_clone/twitter_clone/__pycache__/__init__\.cpython-36\.pyc

twitter_clone/twitter_clone/__pycache__/settings\.cpython-36\.pyc

twitter_clone/twitter_clone/__pycache__/urls\.cpython-36\.pyc

*.pyc
