.login_logo {
  height: 80px;
}

.heart-btn {
  color: grey;
}

.likebtn {
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.author {
  color: var(--darkergrey);
  font-weight: bold;
}

.date {
  color: var(--grey);
}

.chirpContent {
  color: white;
  font-size: 24px;
}

.chirpFooter {
  color: black;
}

.form-control {
  border: 1px solid white;
  color: white;
  background-color: var(--grey);
}

.navbar-dark {
  background-color: black;
}

#feedChirp {
  margin: auto;
  background-color: var(--lightgrey);
  padding: 1rem
}

/*
margin: auto;
border: var(--darkgrey) solid 1px;
border-radius: 5px;
*/
#userName {
  color: white;
}

.profileSummary {
  position: sticky;
  top: 66px;
}

.profilePic {
  border-radius: 50%;
  height: 80px;
  padding: 5px;
}

.feed {
  top: 10px;
}

.jumbotron {
  background-color: var(--lightgrey);
}

.no--deco {
  text-decoration: none;
  color: inherit;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--darkgrey);
  margin: 1em 0;
  padding: 0;
}

/*
.mainColumns{
    min-height: 100px;
    max-height: fit-content;
}

#trendingChirps{
    color: darkslategrey;
}
*/
