.login_logo {
  height: 80px;
}

.fa-heart {
  color: grey;
}

.likebtn {
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.author {
  color: var(--darkergrey);
}

.chirpContent {
  color: white;
  font-size: 24px;
}

.form-control{
  border: 1px solid white;
  color: white;
  background-color: var(--grey);
}


#feedChirp {
  margin: auto;
  border: var(--darkgrey) solid 1px;
  border-radius: 5px;
  background-color: var(--lightgrey);
  padding: 1rem;
}

#userName {
  color: white;
}

.profileSummary {
  position: sticky;
  top: 66px;
}

.profilePic {
  border-radius: 50%;
  height: 40px;
}

.feed {
  top: 10px;
}

.jumbotron {
  background-color: var(--lightgrey);
}

/*
.mainColumns{
    min-height: 100px;
    max-height: fit-content;
}

#trendingChirps{
    color: darkslategrey;
}
*/
