.login_logo{
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
}

.login_form {
  margin-top: 100px;
  max-width: 500px;
  min-width: 50px;
  font-family: sans-serif;
}

.input-group-text {
  border: 0;
}

.form-control {
  color: white;
  background-color: var(--grey);
  border: 0;
}

.btn-primary {
  background-color: var(--pink);
  border: 0;
}

.lnr {
  color: var(--lightgrey);
  background-color: var(--darkergrey);
  font-size: 20px;
  /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}

:root {
  --gridMaxWidth: 20rem;
  --gridWidth: 90%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}

.align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-link{
  color: white;
  font-size: 14px;
}

.text--center{
  text-align: center;
}

p{
  font-size: 16px;
}
