:root{
  --pink: #d65296;
  --grey: rgb(70, 70, 70);
  --lightgrey: rgb(80, 80, 80);
  --darkgrey: rgb(60, 60, 60);
  --darkergrey: rgb(50, 50, 50);
  --ligthergrey: rgb(100, 100, 100);
}

body{
  background-color: var(--darkgrey);
}

a .logoutBtn{
    text-decoration: none;
    background-color: lightcoral;
    color: white;
}

nav {
  background-color: rgb(29, 29, 29);
}
