:root{
  --pink: #d65296;
  --grey: rgb(70, 70, 70);
  --lightgrey: rgb(80, 80, 80);
  --darkgrey: rgb(60, 60, 60);
  --darkergrey: rgb(50, 50, 50);
}

body{
  background-color: var(--darkgrey);
}

a .logoutBtn{
    text-decoration: none;
    background-color: lightcoral;
    color: white;
}

nav {
  background-color: rgb(29, 29, 29);
}

.logoutBtn {
  background-color: rgba(163, 0, 0, 0.5);
  color: white;
}

.reg{
  color: white;
  margin-top: 1em;
  padding: auto;
}
