{% extends "twitter_clone_app/template.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_clone_app/css/home.css' %}">


<!-- Html for the page -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Chirp.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
    <span class="sr-only">(current)</span>
      </li>
    </ul>




    <ul class="navbar-nav">
      <li class="nav-item dropdown" right>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @{{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logoutBtn" href="#">Logout</a>
        </div>
      </li>
    </ul>



  </div>
</nav>



<div class="container">
  <div class="row" style="text-align: center">

    <div class="col-sm-4">
      <div class="jumbotron profileSummary">
          <img class="profilePic" src="{% static 'twitter_clone_app/images/7160.jpg' %}" alt="profilePic">

        <div class="profileStats">profileStats</div>

        <form class="form-group" method="post">
          {% csrf_token %}
        {{ form }}
          <button type="submit" name="post" value="post">Post!</button>
          <!--Sends POST request with value post to views.py -->
        </form>
      </div>
      </div>



    <div class="col-sm-6 feed">


      {% if messages %}
      {% for welcome_message in messages %}
      <div class="welcomeBanner">
        {{ welcome_message }}
        <!--If there is a message (first time user log in), print message -->
      </div>
      {% endfor %}
      {% endif %}
      <div class="container">


      </div>

      <!-- Iterate threw post in database, in reverse-->
      {% for chirp in chirpList reversed %}
      <div id="feedChirp">
        <h5 id="userName"> {{ chirp.author }} </h5>
        <p id="chirpContent">{{ chirp.tweet_text }}</p>

          Number of like : {{ chirp.likes.all.count }}

          <form method="post">
            {% csrf_token %}
            <button type="submit" name="chirp" value="{{ chirp.id }}" class="btn-primary">Like
            </button>
            <!--Creates a button that sends a POST request, with different ids -->
          </form>

          <br>
          {{ chirp.date_posted }}
        </p>
      </div>
      <br>
      {% endfor %}
      <!-- end of iteration -->
    </div>



  </div>
</div>

{% endblock content %}
