{% extends "twitter_clone_app/template.html" %}

{% load static %}

{% block content %}

    <b-col class="mainColumns column1">
        <div class="jumbotron">
            {{ user_requested.username }}
            <p>
                Followers: {{ user_requested.userprofile.followers.all.count }} <!--Get the number of followers for a user profile -->
            </p>
        </div>
    </b-col>
    <b-col class="mainColumns column2" sm="6">
        {% for chirp in chirpList reversed %}
            {% if chirp.author.id == user_requested.id %}
                <div id="feedChirp">
                    <p> {{ chirp.author }}
                        <br>
                        {{ chirp.tweet_text }}
                        <br><br>
                        Number of like : {{ chirp.likes.all.count }}<br> <!-- Get the number of like for a Chirp -->
                        <button name="chirp" value="{{ chirp.id }}" class="btn-primary">Like</button>
                        </br>
                        {{ chirp.date_posted }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </b-col>

{% endblock content %}