{% extends "twitter_clone_app/template.html" %}
{% load static %}

{% block content %}
    {% for profile in user_profile_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ profile.username }}</h5>
                <p class="card-text">Followers: {{ profile.userprofile.followers.all.count }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="follow" value="{{ profile.userprofile.id }}" class="btn-primary">Follow this
                user
            </button>
        </form>
        <br>
    {% endfor %}


{% endblock content %}